<!-- HEADER AND TODO COUNT -->
<div class="jumbotron text-center">
    <h1>Search for Movies <span class="label label-info"></span></h1>
</div>
<!-- FORM TO CREATE TODOS -->
<div id="todo-form" class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <form>
            <div class="form-group">
                <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                <input type="text" class="form-control input-lg text-center" placeholder="Top Gun" ng-model="formData.text">
            </div>
            <!-- createToDo() WILL CREATE NEW TODOS -->
            <button type="submit" ng-disabled="dis"  class="btn btn-primary btn-lg" ng-click="submitSearch()">Search</button>
        </form>
    </div>
</div>
<!-- TODO LIST -->
<h1> {{error}}</h1>
<div id="torrent-list" class="row" align="center">
    <table class="table">
        <tr ng-repeat="torrent in torrents"><td>
            <img src={{torrent.CoverImage}} class="TextWrapLeft">
            <a href="" ng-click="watch(torrent.TorrentMagnetUrl)"><b>{{torrent.MovieTitleClean}}</b></a><br>
            Seeds: {{torrent.TorrentSeeds}}<br>
            Peers: {{torrent.TorrentPeers}}<br>
        {{torrent.Plot}}</td>
    </tr>
</table>
</div>